# Traefik
## htpasswd -nb admin secure_password | sed -e s/\\$/\\$\\$/g
TRAEFIK_PASSWORD=admin:$$apr1$$KNBNzB4i$$HYhKfWmaHrFTAtcR4eJmX.
CERTRESOLVER=letsencrypt
CLOUDFLARE_EMAIL=your-email@yourdomain.com
CLOUDFLARE_API_KEY=your_secret
DOMAIN_TRAEFIK=traefik.yourdomain.com
DOMAIN_TEST=test.yourdomain.com

APP_NAME=internal
NETWORK=traefik

# Crowdsec
CROWDSEC_BOUNCER_API_KEY=your_secret
CROWDSEC_COLLECTIONS=crowdsecurity/traefik crowdsecurity/http-cve crowdsecurity/base-http-scenarios crowdsecurity/sshd crowdsecurity/linux crowdsecurity/appsec-generic-rules crowdsecurity/appsec-virtual-patching crowdsecurity/appsec-crs

# Redis
REDIS_PASSWORD=secure_password

# Resources
REPLICAS=3
CPU_LIMIT=0.5
MEMORY_LIMIT=512M
CPU_RESERVE=0.25
MEMORY_RESERVE=256M
